<html>
    <head>
        <title>register.ejs</title>
    </head>
    <body>
        <!-- get, post는 보낸 경로와 요청한 경로가 같아야 함. -->
        <form action="/user/login" target="_blank" method="POST">
            <fieldset style="width: 300px;">
                <legend>개인 정보</legend>
                아이디: <input type="text" name="id"> <br>
                비밀번호: <input type="password" name="pw"> <br>
            </fieldset>
            <button>로그인</button>
        </form>
    </body>
</html>