<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>worm homework</title>
    <style>
        #eye1{
            background-color: white;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            top: 40px;
            left: 30px;
            position: fixed;
            
        }
        #eye2{
            background-color: black;
            width: 17px;
            height: 17px;
            border-radius: 8px;
            top: 35px;
            left: 22px;
            position: relative;
        }
        .body{
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
        #b1{
            background-color: #2196f3
        }
        #b2{
            position: absolute;
            left: 80px;
            top: 50px;
            background-color: #1976d2;
        }
        #b3{
            background-color: #0d47a1;
            position:relative;
            left: 120px;
            bottom: 20px;
        }
        #b4{
            background-color: #b2ccff;
            position: relative;
            left: 180px;
            bottom: 120px;
        }
        #b5{
            background-color: #008299;
            position:relative;
            left: 240px;
            bottom: 220px;
        }
        img {
            position:fixed;
            width: 350px;
            top: 80px;
            
        }
       
    </style>
</head>
<body></body>
    <div id="eye1"></div>
    <div id="eye2"></div>
    <div id="b1" class="body"></div>
    <div id="b2" class="body"></div>
    <div id="b3" class="body"></div>   
    <div id="b4" class="body"></div>
    <img src="/g/grass.png" alt="">
    <div id="b5" class="body"></div>
</body>
</html>