{
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "overrides": [
      {
        "files": ["*.js", "*.jsx"],
        "rules": {
          "@typescript-eslint/explicit-function-return-type": "off"
        }
      }
    ]
  }

  // 타입스크립트를 인식할 수 있게 Lint를 써줘야 함.